body {
  background-color: #FFF;
  font-family: 'Lucida';
  text-align: center;
}
.takingspace{
  height: 70px;
}
.navbar-brand{
  font-size: 1.5em;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ****/
table {
  margin: 0 auto;
}
td{
  width: 40px;
  height: 40px;
}
.cornernumber{
background-color: rgba(200, 150, 0, .4);
}

.greenShirtPic{
  width: 40%;
}
.heartPic{
  width: 10%;
}

/* LANGUAGES LANGUAGES LANGUAGES LANGUAGES LANGUAGES LANGUAGES LANGUAGES ******/
ul{
margin: auto;
list-style-type: armenian;
font-size: 1.5em;
}
.onelanguage{
  font-family: 'Comic Sans MS';
  font-size: 36px;
}
.languagesHeading{
  font-size: 2em;
  text-decoration: none;
}
.languagesPic{
  width: 50%;
}
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS ****/
.tableofprojects{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}
td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.projectrow:nth-child(even) {
    background-color: #dddddd;
}
.thumb{
  width: 100%;
  margin: 0 auto;
}
/* OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER ****/
.bottomlinks{
  font-size: 2em;
}
.codewarsH{
  font-size: 2em;
}
.codewarsA{
  font-size: 2.2em;
}
.codewars img{
  width: 8%;
}
.codewars img:Hover{
  width: 9%;
}
/*Footer **********************************************************************/
footer{
  text-align: center;
}
.navbar-text > a {
  color: inherit;
  text-decoration: none;
}
.navbar-text > a:hover {
  color: white;
  text-decoration: none;
}
