body {
  /*background-image: url("https://prateekvjoshi.files.wordpress.com/2013/10/part-1.jpg");*/
  /*background-size: 100%;*/
  background-color: #cccccc;
  font-family: 'Lucida';
}
.lll{
  background-color: rgba(200, 150, 0, .4);
  width: 100%;
  /*z-index: 1;*/
}
.firstof2navbars{
  height: 100px;
}
.secondof2navbars{
    position: relative;
    top: 50px;
    border: 2px solid rgba(200, 150, 0, 1);
    height: 50px;
    background-color: rgba(60, 45, 0, .7);
}
.container-fluid{
margin: 10px;

}
.pull-left h1{
  margin: 0 auto;
}
.pull-left h1 .salsa-heading{
  color: #FFF;
  font-size: .8em;
  text-decoration: none;
  font-family: Lucida;
  margin: 0 auto;
}
.pull-left h1 A:hover{
  font-size: .82em;
  color: #000;
}
.secondnavbuttons{ /* fb an stuff*/
  text-align: right;
}
.phone img{
  width: 20px;
  margin: 0 auto;
}
.phone{
  color: #FFF;
  font-size: 1em;
  margin: 0 auto;

}
/********* pageLinks ************/
.navbar-text{
  margin: 0px;
  margin-right: 7px;
  background-color: none;
}
.navbar-text .scroll{
  color: #FFF;
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Lucida Grande';
  text-decoration: none;
  margin-right: 3px;
}
@media screen and (max-width: 870px) {
  .navbar-text .scroll{
  font-size: .8em;
  }
}
@media screen and (max-width: 770px) {
  .navbar-text .scroll{
  font-size: .7em;
  }
}
@media screen and (max-width: 670px) {
  .navbar-text .scroll{
  font-size: .6em;
  }
}
.navbar-text A:hover{
  color: #161400;
  font-size: 1.2em;
}
@media screen and (max-width: 870px) {
  .navbar-text A:hover{
  font-size: .83em;
  }
}

/********* buttonLinks **********/
.buttonLinks img{
  width: 30px;
  margin: 0 auto;
  margin-right: 7px;
}
.buttonLinks img:Hover{
  width: 31px;
}
.bachata-width{
  width: 50px;
}


.takingspace{
  height: 70px;
}
.main4{
  text-align: center;
  margin: 0 auto;
}
/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ****/
table {
  margin: 0 auto;
}
td{
  width: 40px;
  height: 40px;
}
.cornernumber{
background-color: rgba(200, 150, 0, .4);
}


.greenShirtPic{
  width: 40%;
}
.heartPic{
  width: 10%;
}

/* LANGUAGES LANGUAGES LANGUAGES LANGUAGES LANGUAGES LANGUAGES LANGUAGES ******/
ul{
margin: auto;
list-style-type: armenian;
font-size: 1.5em;
}
.languagesHeading{
  font-size: 2em;
  text-decoration: none;
}
.languagesPic{
  width: 50%;
}
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS ****/
.tableofprojects{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}
td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.projectrow:nth-child(even) {
    background-color: #dddddd;
}
.thumb{
  width: 40%;
  margin: 0 auto;
}
/* OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER ****/
.bottomlinks{
  font-size: 2em;
}
/*Footer **********************************************************************/
footer{
  text-align: center;
}
